* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Defines custom color variables */
:root {
    --black: black;
    --neutral: rgb(185, 164, 173);
    --white: white;
    --pink: palevioletred;
}

/* Styles selected text */
::selection {
    background-color: var(--neutral);
    color: var(--black);
}

/* Styles body content */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--pink);
}

/* Adds heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: var(--white);
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

/* Header Style */
header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
    color: var(--white);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header .quote {
    color: var(--neutral);
}

/* Adds style to the navigation links */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
}

a {
    color: var(--neutral);
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Adds hero image styling */
.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
}

/* Adds section styles */
section {
    width: 95%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

/* Adds footer style */
footer {
    padding: 30px;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Customizes flex container code to display images a certain way */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

.item img {
    width: 100%;
    height: 250px;
}

.item:first-child {
    flex-basis: 100%;
}

.item:first-child img {
    width: 100%;
    max-width: 1010px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .item:first-child img {
        max-width: 100%;
    }

    .item {
        flex-basis: calc(100% - 10px);
    }
}